<ul class="nav justify-content-center nav-pills nav-fill navbar-light bg-light">

    <li class="nav-item">
        <a class="nav-link"  href="/">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/member">Member Area</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/public">Public Area</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/logout">Logout</a>
    </li>











</ul>